.categorybox {
  display: flex;
  position: relative;
  padding: 0px, 64px, 64px, 64px;
  justify-content: space-between;
  height: 120px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.category {
  list-style: none;
  padding: 0;
  flex-direction: row; /* 가로 방향으로 나열하도록 설정 */
}

.category-button {
  padding: 10px 18px; /* 버튼에 여백을 추가 */
  cursor: pointer;
  border: 1px solid #d2d2d2;
  background-color: #f8f8f8;
  border-radius: 999px;
  margin-right: 25px;
  width: 104px;
  height: 56px;
  position: relative;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.sort {
  position: absolute;
  right: 0;
}

.sort-select {
  border-radius: 999px;
  width: 125px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  border: none;
  background-color: #f8f8f8;
  padding: 8px 24px;
}

.category-button.selected {
  background-color: #323232;
  color: #ffffff;
}
@media screen and (max-width: 1400px) {
  .category {
    display: none;
  }

  .sort {
    position: relative !important;
  }
  .accordian-category {
    display: block;
    position: relative !important;
  }
  .categorybox {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 !important;
    justify-content: space-between;
    height: 2rem !important;
    margin: 1rem !important;
  }

  .sort-select,
  .accordian-select {
    font-family: Poppins;
    color: black;
    border-radius: 999px;
    width: 5rem !important;
    height: 1rem !important;
    font-size: 12px !important;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    border: none;
    background-color: #f8f8f8;
    padding: 0px 0px !important;
  }
}
