.board {
  padding: 10px 55px;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category > button,
.sort > select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #f9f9f9;
  border: 1px solid #d2d2d2;
  padding: 10px;
  font-size: 14px;
  margin: 10px;
  width: 70px;
}

.sort-select {
  width: 90px;
}

.category-button.selected {
  background-color: #323232 !important;
  border: none;
  color: white;
}

.board-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.masonry-grid {
  display: flex;
  width: fit-content;
  width: auto;
}

.post {
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(223, 223, 223, 0.62);
  border: none;
  padding: 16px;
}

.post img {
  max-width: 100%;
  max-height: 50%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px 1px #dadce0 inset;
}

.postbox p {
  margin: 0 2px;
  font-size: 10px;
}

.postbox div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#post-title {
  font-size: 14px;
  font-weight: 900;
  margin: 4px 2px;
}
@media screen and (max-width: 1200px) {
  .board-nav {
    overflow-x: auto;
    white-space: nowrap;
  }

  .category > button {
    margin: 4px;
    width: 60px;
    height: 40px;
    font-size: 13px;
  }

  .sort-select {
    width: 60px;
    height: 40px;
  }

  .sort > select {
    font-size: 13px;
  }
}
