section {
  padding: 40px;
  height: 100px;
}

section > div > button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #f9f9f9;
  color: black;
  font-weight: 900;
  border: none;
  display: none;
}

section > div {
  display: flex;
  justify-content: flex-end;
}

section > div > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}
section > div > ul > li {
  font-size: 14px;
  margin: 18px;
  font-weight: 600;
  color: black;
}

#logout {
  color: #ec5a5a;
}
.mobile-nav {
  display: none;
}
@media screen and (max-width: 1200px) {
  .web-nav {
    display: none;
  }
  .mobile-nav {
    padding-top: 18px;
    height: 100vh;
    flex-direction: column;
    width: 170px;
    display: block;
    background: #323232;
    opacity: 0.9;
    z-index: 1;
  }
  .mobile-nav > li {
    color: white;
    font-weight: 400;
  }
  section > div > button {
    display: block;
  }
}
