.Header_first {
  height: 312px;
  padding: 5% 4%;
  gap: 24px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.Header_first img {
  width: 80px;
  height: 112px;
}

.Header_ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 24px;
  gap: 24px;
  list-style: none;
  box-sizing: border-box;
  margin-top: 70px;
}

.Header_ul li {
  height: 25px;
  color: #323232;
  white-space: nowrap;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 50px;
  cursor: pointer;
}

.logout {
  color: red !important;
}
.accordian {
  display: none;
}

@media screen and (max-width: 430px) {
  .Header_first {
    height: 180px !important;
  }
  .Header_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .accordian {
    display: block;
    background-color: #f8f8f8;
    border: none;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    float: right !important;
  }
  .Header_ul {
    display: none;
  }
  .Header_ul_accordian {
    list-style: none;
    text-align: right;
    float: right;
  }
  .Header_ul_accordian li {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
