
/* 색상을 정의하는 경우, 접미사 color를 생략합니다. */
:root {
    --primary: #0468d7;
    --background: #F9F9F9;
    --background-hover: rgb(240, 240, 240);
    --foreground: black;
    --foreground2: #323232;
    --foreground3: #646464;
    --line: rgb(230, 230, 230);
    --box: white;
    --box-line: rgb(240, 240, 240);
    --box-placeholder: rgb(235, 235, 235);
    --box-placeholder-inner: rgb(240, 240, 240);
}

:root {
    --transition-duration: 0.1s;
    --padding: 15px;
    --items-gap: calc(var(--padding) / 2);
    --grid-gap: var(--items-gap);
    --column-spacing: 5px;
    --row-spacing: 5px;
    --box-radius: 5px;

    --container-max-width: 1200px;
}