.filter-buttons > button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #d2d2d2;
}
@media screen and (max-width: 1200px) {
  .filter-buttons > button {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
}
