@font-face {
  font-family: 'jaram';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo {
  height: 150px;
  float: right;
  cursor: pointer;
}
/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}

.modal .modalContent {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.1);
  color: #000;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  overflow: auto;
}
main {
  padding: 0px 40px 40px 40px;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-nickname,
.post-view,
.post-date {
  font-size: 20px;
}

.post-title {
  font-family: 'jaram';
  font-size: 60px;
  font-weight: 900;
  margin: 10px 0px 10px 0px;
}
.post-view {
  display: inline-block;
  margin-right: auto; /* 좌측 정렬 */
  font-size: 14px;
}

.post-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-button {
  background-color: black;
  color: rgb(255, 255, 255);
}

.delete-button {
  background-color: black;
  color: rgb(255, 255, 255);
}

.post-buttons > button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_bookmark-button {
  background-color: yellow;
  color: black;
}
.button_report-button {
  background-color: rgb(255, 145, 0);
  color: rgb(255, 255, 255);
}

.comment-input {
  width: 92%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border: 4px solid #000000;
  border-radius: 8px;
}

.comment-submit-button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-list {
  margin-top: 20px;
}

.comment-item {
  margin-bottom: 10px;
}

.comment-content {
  padding: 10px;
  background-color: black;
  color: white;
  border: 4px solid #000000;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.comment-nickname {
  font-weight: bold;
  margin-right: 10px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.comment-edit-button {
  margin-left: 10px;
  margin-right: 5px; /* 버튼 사이 간격 */
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-delete-button {
  margin-left: 10px;
  margin-right: 5px; /* 버튼 사이 간격 */
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-report-button {
  margin-left: 10px;
  margin-right: 5px; /* 버튼 사이 간격 */
  padding: 5px 10px;
  background-color: #f37d0f;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-box {
  border-top: solid 2px black;
  margin-top: 100px;
  padding-top: 10px;
}

/* footer */
footer {
  margin-top: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.post_title,
.post_annualCategory,
.post_content,
.post_img {
  width: 100%;
  margin: 13px 13px 13px 0px;
}

.post_content {
  height: 150px;
}
.report_content {
  width: 100%;
  margin: 13px 13px 13px 0px;
}

.modalContent > div > button {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
}

.modalContent > div > div > button {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
}
