button:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}

header button {
  border: none;
  border-radius: 5px;
  margin: 20px 0px 0px 20px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  position: relative;
  left: 80px;
  cursor: pointer;
  font-size: 18px;
}

.headerBtns {
  display: flex;
  flex-direction: row;
}
