@font-face {
  font-family: 'jaram';
  src: url('http://localhost:8000/assets/ttf/jaram.ttf');
}

* {
  font-family: 'jaram';
}

.logo {
  height: 100px;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal .modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #000;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
