@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* header */
header {
  height: 120px;
}

.logo {
  height: 100px;
  float: right;
  cursor: pointer;
}

/* 제목 내용 작성폼 */
.writing_form {
  display: flex;
  flex-direction: column;
}

.writing_form > label {
  margin-bottom: 10px;
}

/* footer */
footer {
  margin-top: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
