@import 'reset.css';

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* 모든 버튼 */
button:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}

/* header */
header {
  margin-top: 40px;
  height: 120px;
}

.logo {
  height: 130px;
  float: right;
  cursor: pointer;
  margin-right: 30px;
}

/* main */
main {
  text-align: center;
  padding: 20px;
}

.container {
  font-size: 20px;
  margin: 0 auto;
  border: 1px solid;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: left;
  border-color: #efefef;
  width: 90%;
}

.annual_category {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

/* 제목 내용 작성폼 */
.write_box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.write_box > * {
  margin-bottom: 20px;
}

.write_box > input {
  height: 30px;
  font-size: 20px;
}

.post_title::placeholder {
  font-size: 20px;
}

.post_content {
  height: 300px;
  font-size: 20px;
}

.post_content::placeholder {
  font-size: 20px;
}

.post_buttons {
  display: flex;
  justify-content: space-between;
}

.post_buttons > button {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
}

/* footer */
footer {
  margin-top: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
