@import 'reset.css';

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* 태블릿 크기 */
@media screen and (min-width: 769px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .chatbox {
    bottom: 3rem !important;
    right: 3rem !important;
  }
  .postBox > td:nth-child(2) {
    width: 400px;
  }
}

/* PC 크기 */
@media screen and (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .postBox > td:nth-child(2) {
    width: 1000px;
  }

  .box_button {
    margin-right: 100px;
  }

  .thread_btn {
    margin-top: 20px;
  }
}

/* 모든 버튼 */
button:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  height: 245px;
}

.logoCon {
  display: flex;
}

.logo {
  object-fit: contain;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.navControl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navCon {
  display: flex;
  font-size: large;
  font-weight: 700;
  gap: 1rem;
  flex-grow: 1;
  align-items: end;
}

.navCon li {
  text-shadow: 1.5px 1.5px rgb(220, 218, 218);
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 15px;
}

.logo:hover,
button:hover,
.navCon li:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}

.headerBtns {
  display: flex;
  flex-direction: row;
}

header button {
  box-shadow: 2px 2px rgb(195, 195, 195);
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 5px;
}

/* main */

/* 게시글(페이지버튼) + 연도별 카테고리 나란히 정렬 */
.container {
  display: flex;
}

/* 페이지네이션 버튼 */
.pagination_createdat,
.pagination_viewcount {
  text-align: center;
}

.pagination_createdat > button,
.pagination_viewcount > button {
  box-shadow: 2px 2px rgb(195, 195, 195);
  margin: 20px 20px 0px 0px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

/* 게시글 */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0px 50px 0px;
}

th {
  padding: 5px;
  text-align: center;
  background-color: #0000007b;
  width: 180px;
}

tr {
  border: 1px solid #f7f0ff;
}

td {
  padding: 10px;
  text-align: center;
}

.postBox:hover {
  background-color: #f6f6f6;
}

.postBox > td:nth-child(2) {
  cursor: pointer;
  text-align: left;
}

.postBox > td:nth-child(2):hover {
  text-decoration: underline;
}

.postBox > td:nth-child(3) {
  width: 120px;
  text-align: left;
}

/* 연도별 카테고리 + 익명 스레드 버튼 */
.box_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 익명 스레드 버튼 */
.thread_btn {
  background-color: rgb(160, 99, 39);
  box-shadow: 2px 2px rgba(252, 177, 85, 0.503);
}

.chat_btn {
  background-color: rgb(72, 53, 19);
  box-shadow: 2px 2px rgba(43, 11, 0, 0.344);
}

/* footer */
footer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'GangwonEdu_OTFBoldA';
}
.chatbox {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.chatbox button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 5px;
}
