@import 'reset.css';

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* 태블릿 크기 */
@media screen and (min-width: 769px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container {
    padding: 0px 60px !important;
  }

  .chatbox {
    bottom: 3rem !important;
    right: 3rem !important;
  }
}

/* PC 크기 */
@media screen and (min-width: 1025px) {
  .container {
    padding: 0px 60px !important;
  }
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  height: 245px;
}

.logoCon {
  display: flex;
}

.logo {
  object-fit: contain;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.navControl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navCon {
  display: flex;
  font-size: large;
  font-weight: 700;
  gap: 1rem;
  flex-grow: 1;
  align-items: end;
}

.logo:hover,
button:hover,
.navCon li:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}

.headerBtns {
  display: flex;
  flex-direction: row;
}

button {
  box-shadow: 2px 2px rgb(195, 195, 195);
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 5px;
}

/* main */

main {
  text-align: center;
}

.container {
  font-size: 20px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: left;
  border-color: #efefef;
}

.annualcategory {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

/* 제목 내용 작성폼 */
.write_box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.write_box > * {
  margin-bottom: 20px;
}

.write_box > input {
  height: 30px;
  font-size: 15px;
  font-family: 'GangwonEdu_OTFBoldA';
}

.post_title::placeholder {
  font-size: 20px;
}

.post_img::placeholder {
  font-size: 20px;
}

.post_content {
  height: 300px;
  font-size: 20px;
}

.post_content::placeholder {
  font-size: 20px;
}

/* footer */
footer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'GangwonEdu_OTFBoldA';
}
