@font-face {
  font-family: 'jaram';
  src: url('http://localhost:8000/assets/ttf/jaram.ttf');
}
@font-face {
  font-family: 'jaemin';
  src: url('http://localhost:8000/assets/ttf/Jaemin3-Regular.ttf');
}

@font-face {
  font-family: 'blueroad';
  src: url('http://localhost:8000/assets/ttf/Yeongdeok_Blueroad.ttf');
}

* {
  font-family: 'blueroad';
  font-weight: 900px;
}

/* header */

header {
  height: 120px;
}

.logo {
  height: 100px;
  float: right;
}

.headerBtns > button {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.headerBtns > button:hover {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

/* footer */
footer {
  margin-top: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}

.modal .modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.1);
  color: #000;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.profileSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 100px 0px 0px;
}

.profileSidebar > button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
  color: black;
  margin: 10px 0px 10px 0px;
}

.profileBox {
  display: flex;
  flex-direction: row;
}
.bookmarkBox {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'jaram';
  font-size: 40px;
  border-bottom: 2px solid black;
}

.headtitle {
  font-family: 'jaram';
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 0px 20px 0px 20px;
}
