@import 'reset.css';

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jaram';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* 태블릿 크기 */
@media screen and (min-width: 769px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .container {
    padding: 0px 60px !important;
  }

  .profileSidebar {
    margin-right: 20px;
  }

  h1 {
    font-size: 35px !important;
  }
  h2 {
    font-size: 30px !important;
  }
}

/* PC 크기 */
@media screen and (min-width: 1025px) {
  header {
    padding-top: 1rem;
  }
  article {
    padding-left: 10.6rem !important;
    padding-right: 10.6rem !important;
  }
  .container {
    padding: 0px 60px !important;
  }
  .profileSidebar {
    margin-right: 40px !important;
  }
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  position: relative;
}

header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: 245px;
}

.logoCon {
  display: flex;
}

.logo {
  object-fit: contain;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.navControl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navCon {
  display: flex;
  font-size: large;
  font-weight: 700;
  gap: 1rem;
  flex-grow: 1;
  align-items: end;
}

.logo:hover,
button:hover,
.navCon li:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}

.headerBtns {
  display: flex;
  flex-direction: row;
}

button {
  box-shadow: 2px 2px rgb(195, 195, 195);
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 5px;
}

/* main */

main {
  text-align: center;
}

.container {
  font-size: 20px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: left;
  border-color: #efefef;
  width: 90%;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}

.modal .modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.1);
  color: #000;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  overflow: auto;
}

.profileSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
}

.profileSidebar > button {
  width: 150px;
  background-color: rgb(81, 80, 80);
}

.profileBox {
  display: flex;
  flex-direction: row;
}
.bookmarkBox {
  display: flex;
  flex-direction: column;
}

.bookmarkInnerBox {
  margin: 40px 40px 40px 0px;
}

.title {
  font-family: 'jaram';
  font-size: 23px;
  border-bottom: 2px solid black;
  text-align: left;
}

h1 {
  font-family: 'jaram';
  background-color: black;
  color: white;
  font-size: 23px;
}

input {
  font-size: 20px;
  width: 90%;
  margin: 10px 0px 10px 0px;
}
/* footer */
footer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'GangwonEdu_OTFBoldA';
}

.removeBookmark {
  background-color: white;
  color: black;
  border: 1px solid black;
}
