@font-face {
  font-family: 'jaram';
  src: url('http://localhost:8000/assets/ttf/jaram.ttf');
}
@font-face {
  font-family: 'jaemin';
  src: url('http://localhost:8000/assets/ttf/Jaemin3-Regular.ttf');
}

* {
  font-family: 'jaemin';
  font-weight: 900px;
}

/* header */

header {
  height: 120px;
}

.logo {
  height: 100px;
  float: right;
}

.headerBtns > button {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.headerBtns > button:hover {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

/* footer */
footer {
  margin-top: 200px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
