@font-face {
  font-family: 'jaram';
  src: url('./assets/ttf/jaram.ttf');
}

/* * {
  font-family: 'jaram';
  font-weight: 900px;
} */

img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

h1 {
  font-family: 'jaram';
  font-size: 50px;
  text-align: center;
}

.threadbox {
  position: absolute;
  border: 2px solid black;
  padding: 10px;
  width: 1500px;
  display: inline-block;
}

.report {
  list-style: none;
  padding: 0;
  display: flex;
}

.delete {
  margin-right: 10px;
}

.pagination {
  color: #000;
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
}

.button-container {
  margin-left: 10px; /* 원하는 여백 설정 */
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; /* 입력란과 버튼을 위아래로 배치 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 입력란 스타일 */
input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
