@font-face {
  font-family: 'jaram';
  src: url('http://localhost:8000/assets/ttf/jaram.ttf');
}

/* * {
  font-family: 'jaram';
  font-weight: 900px;
} */

img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

h1 {
  font-family: 'jaram';
  font-size: 50px;
  text-align: center;
}

/* threadbox */
.threadbox {
  position: absolute;
  border: 2px solid black;
  padding: 20px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .threadbox {
    width: 90%;
    max-width: none;
  }
}

.threadList {
  position: absolute;
  padding: 10px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: auto;
}

.report {
  list-style: none;
  padding: 0;
  display: flex;
}

.delete {
  margin-right: 10px;
}

.pagination {
  color: #000;
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
}

.button-container {
  margin-left: 10px;
}

/* 모달 스타일 */
/* 모달 스타일링 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  max-width: 400px; /* 모달창의 최대 너비 설정 */
  margin: 10% auto;
}

.close-button {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

textarea {
  width: 94%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 60px; 
  max-height: 200px;
}

#confirmReport {
  display: block;
  margin: 0 auto;
}
