@import 'reset.css';

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jaram';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu_OTFBoldA';
  font-weight: 900px;
}

/* 태블릿 크기 */
@media screen and (min-width: 769px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  article {
    padding-left: 3em !important;
    padding-right: 3rem !important;
  }

  .container {
    padding: 0px 60px !important;
    width: auto;
  }
}

/* PC 크기 */
@media screen and (min-width: 1025px) {
  header {
    padding-top: 1rem;
  }
  article {
    padding-left: 12.7em !important;
    padding-right: 12.7rem !important;
  }
}

h1 {
  font-size: 40px;
  font-family: 'jaram';
  font-weight: 900;
}

article {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
  position: relative;
}

header {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  height: 245px;
}

.logoCon {
  display: flex;
}

.logo {
  object-fit: contain;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.navControl {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navCon {
  display: flex;
  font-size: large;
  font-weight: 700;
  gap: 1rem;
  flex-grow: 1;
  align-items: end;
}

.logo:hover,
button:hover,
.navCon li:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}

.headerBtns {
  display: flex;
  flex-direction: row;
}

button {
  box-shadow: 2px 2px rgb(195, 195, 195);
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px 5px;
}

/* main */

main {
  display: flex;
  text-align: center;
}

.container {
  font-size: 20px;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: left;
  border-color: #efefef;
  width: 90%;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  max-width: 400px;
  margin: 10% auto;
}

/* footer */
footer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'GangwonEdu_OTFBoldA';
}
.chatbox {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.chatbox button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 5px;
}
.chat_btn {
  background-color: rgb(72, 53, 19);
  box-shadow: 2px 2px rgba(43, 11, 0, 0.344);
}
.threadbox {
  display: flex;
  flex-direction: column;
}

.writeThreadBtn {
  width: 60px;
}
.writeThreadBox {
  display: flex;
  flex-direction: column;

  padding: 20px;
}
.writeThread {
  padding: 10px;
}
.thread {
  padding: 20px;
}
