.report {
  border-radius: 7px;
  border: none;
  background: #eeeeee;
  padding: 20px;
  font-size: 12px;
  margin: 10px 0px;
}

.report > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.report > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.report > div > div > label {
  margin-right: 10px;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .report > div {
    flex-direction: column;
    align-items: self-start;
  }
}
