h1 {
  font-size: 28px;
  font-weight: 900;
}

body {
  background: #f9f9f9;
}
#nickname {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 5px;
}

#chat-messages {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-message {
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
}

.chat-message > p {
  margin: 1px;
}

#sender {
  font-size: 8px;
}

/* 왼쪽 정렬 */
.chat-message.left-align {
  background-color: #d5d5d5;
  color: #323232;
  float: left;
  clear: both;
  box-shadow: 2px 2px 2px #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* 오른쪽 정렬 */
.chat-message.right-align {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #d5d5d5;
  color: #323232;
  float: right;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/* 사용자 닉네임 스타일 */
#nickname {
  font-weight: bold;
}

#chat-input {
  display: flex;
  align-items: center;
}

#chat-input input[type='text'] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#chat-input button {
  padding: 10px 20px;
  background-color: #323232;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
