
.header {
    padding: var(--padding);
    padding-top: 64px;
    padding-bottom: 64px;
}
.header > svg { margin-bottom: var(--padding); }
.header > .nav {
    display: flex;
    justify-content: right;
    gap: var(--items-gap);
}
@media screen and (max-width: 600px) {
    .header          { padding: var(--padding) !important; }
    .header_selector { border-bottom: 1px solid var(--line); }
}

.header_selector {
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 1;
    background-color: var(--background);
}

.header-notice {
    display: flex;
    padding: var(--padding);
    margin: var(--padding);
    background-color: rgb(240, 240, 240);

    border: 2px solid rgb(220, 220, 220);
    border-radius: var(--box-radius);
    cursor: pointer;
    
    transition: background-color var(--transition-duration);
}

.header-notice:hover {
    background-color: rgb(235, 235, 235);
}

.categorys {
    display: flex;
    padding: var(--padding);
    gap: var(--items-gap);
}