
.header {
    padding: var(--padding);
    padding-top: 64px;
    padding-bottom: 64px;
}
.header > svg { margin-bottom: var(--padding); }
.header > .nav {
    display: flex;
    justify-content: right;
    gap: var(--items-gap);
}
@media screen and (max-width: 600px) {
    .header          { padding: var(--padding) !important; }
    .header_selector { border-bottom: 1px solid var(--line); }
}

.header_selector {
    display: flex;
}

.categorys {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    padding: var(--padding);
    gap: var(--items-gap);
    background-color: var(--background);
}