.my-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-page > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  width: 950px;
}
@media screen and (max-width: 1200px) {
  .my-page > div {
    width: 300px;
    flex-direction: column;
  }
}
