.my-masonry-grid {
    display: flex;
    margin-left: -16px; 
    width: auto;
}

.my-masonry-grid_column {
    background-clip: padding-box;
    padding: 16px; 
    flex-grow: 1;
}

.post {
    border: 1px solid #ccc;
    padding: 16px;
    cursor: pointer;
    margin-bottom: 16px; 
    background-color : white;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post-title {
    font-size: 18px;
    margin-top: 8px;
}

.post-content {
    margin-top: 8px;
}

/* 브라우저 크기가 700px 이하일 때 post의 크기를 조절 */
@media (max-width: 700px) {
    .post {
        padding: 8px;
    }

    .post-title {
        font-size: 16px;
    }
}
