.report-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.report-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}
h1 {
  font-size: 28px;
  font-weight: 900;
}

.write-thread-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.write-thread-box > textarea {
  width: 90%;
  cursor: text;
  border-radius: 7px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 5px;
  height: 30px;
}

.write-thread-box > button {
  width: 10%;
  font-size: 14px;
  border-radius: 7px;
  background: #323232;
  color: white;
  padding: 5px;
  height: 40px;
  font-weight: 600;
}

.thread {
  margin: 5px;
  border-radius: 7px;
  padding: 10px 20px;
  border: none;
}
.threads-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.threads-buttons > p {
  color: #5f5f5f;
  font-size: 12px;
}

.threads-buttons > button {
  background: none;
  color: #323232;
  font-weight: 600;
  border: none;
}

.report-modal-content textarea {
  width: 100%;
  border: #d2d2d2 solid 1px;
  border-radius: 7px;
}

.thread-report-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.thread-report-buttons > button {
  border: none;
  background: white;
  font-weight: 600;
  color: #427dee;
}

@media screen and (max-width: 1200px) {
  .write-thread-box > textarea {
    width: 80%;
  }
  .write-thread-box > button {
    width: 20%;
  }
}
