form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
  position: relative;
}

form > input {
  width: 280px;
  border: 1px solid #d2d2d2;
  border-radius: 7px;
  padding: 10px;
}

form > #show-confirm,
#show-password {
  border: none;
  position: absolute;
  width: 50px;
  height: 20px;
  right: 0px;
  background: white;
  color: #427dee;
}
form > #show-confirm {
  top: 95px;
}
form > #show-password {
  top: 50px;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.sign-up #signup-button,
.sign-up #close-button {
  height: 37px;
  border: none;
  border-radius: 7px;
}

.sign-up #signup-button {
  width: 230px;
  background: #323232;
  color: white;
}

.sign-up #close-button {
  width: 60px;
  background: #b4b4b4;
}
