.my-page-container {
  background-color: white;
}

.my-page-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.my-page-container main {
  padding: 1rem;
}

.MainSection {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.MyInformation {
  flex: 1;
}

.MyCard {
  flex: 1;
  margin-left: 16px;
}
