.my-page-container {
  background-color: white;
}

.my-page-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.my-page-container main {
  padding: 1rem;
}

.MainSection {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
}

.flex-container {
  display: flex;
  gap: 1rem;
}

.MyInformation {
  flex: 1;
}

.MyCard {
  flex: 1;
  margin-left: 16px;
}
@media screen and (max-width: 1320px) {
  .flex-container {
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .MainSection {
    justify-content: center !important;
  }

  .MyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px !important;
  }

  .MyInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
