.modal-content > textarea {
  width: 100%;
  height: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 30px;
}
.edit-comment-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
