.sign-up-text p {
  color: black;
  font-family: Poppins;
  font-size: 13px;
}
.sign-up-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-up-text > div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-up-text button {
  color: #427dee;
  font-family: Poppins;
  font-size: 13px;
  width: 90px;
  border: none;
  background: #f9f9f9;
  font-weight: 600;
}
