name: Node.js CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

        env:
          HOST: ${{secrets.HOST}}
          GATE_PORT: ${{secrets.GATE_PORT}}
          DIS_PORT: ${{secrets.DIS_PORT}}
          USERS_PORT: ${{secrets.USERS_PORT}}
          POSTS_PORT: ${{secrets.POSTS_PORT}}
          THREADS_PORT: ${{secrets.THREADS_PORT}}
          ADMIN_PORT: ${{ secrets.ADMIN_PORT }}
          USERS_MYSQL_USER_NAME: ${{secrets.USERS_MYSQL_USER_NAME}}
          USERS_MYSQL_PASSWORD: ${{secrets.USERS_MYSQL_PASSWORD}}
          USERS_MYSQL_HOST: ${{secrets.USERS_MYSQL_HOST}}
          ADMIN_MYSQL_USER_NAME: ${{secrets.ADMIN_MYSQL_USER_NAME}}
          ADMIN_MYSQL_PASSWORD: ${{secrets.ADMIN_MYSQL_PASSWORD}}
          ADMIN_MYSQL_HOST: ${{secrets.ADMIN_MYSQL_HOST}}
          THREADS_MYSQL_USER_NAME: ${{secrets.THREADS_MYSQL_USER_NAME}}
          THREADS_MYSQL_PASSWORD: ${{secrets.THREADS_MYSQL_PASSWORD}}
          THREADS_MYSQL_HOST: ${{secrets.THREADS_MYSQL_HOST}}
          POSTS_MYSQL_USER_NAME: ${{secrets.POSTS_MYSQL_USER_NAME}}
          POSTS_MYSQL_PASSWORD: ${{secrets.POSTS_MYSQL_PASSWORD}}
          POSTS_MYSQL_HOST: ${{secrets.POSTS_MYSQL_HOST}}
          JWT_SECRET_KEY: ${{secrets.JWT_SECRET_KEY}}
          JWT_SECRET_KEY_REFRESH: ${{secrets.JWT_SECRET_KEY_REFRESH}}
          JWT_EXPIRE_TIME: ${{secrets.JWT_EXPIRE_TIME}}
          JWT_EXPIRE_TIME_REFRESH: ${{secrets.JWT_EXPIRE_TIME_REFRESH}}
          REDIS_HOST: ${{secrets.REDIS_HOST}}
          REDIS_PORT: ${{secrets.REDIS_PORT}}
          REDIS_USERNAME: ${{secrets.REDIS_USERNAME}}
          REDIS_PASSWORD: ${{secrets.REDIS_PASSWORD}}
          NODEMAILER_EMAIL: ${{secrets.NODEMAILER_EMAIL}}
          NODEMAILER_PASSWORD: ${{secrets.NODEMAILER_PASSWORD}}
          DIRECTORY: ${{secrets.DIRECTORY}}
          client_id: ${{secrets.client_id}}
          client_secret: ${{secrets.client_secret}}
          redirect_uri: ${{secrets.redirect_uri}}
          kakaoJSkey: ${{secrets.kakaoJSkey}}
          S3_AWS_ACCESS_KEY_ID: ${{secrets.S3_AWS_ACCESS_KEY_ID}}
          S3_AWS_SECRET_ACCESS_KEY: ${{secrets.S3_AWS_SECRET_ACCESS_KEY}}
          S3_AWS_REGION: ${{secrets.S3_AWS_REGION}}
          S3_AWS_BUCKET_NAME: ${{secrets.S3_AWS_BUCKET_NAME}}
          MONGO_DB: ${{secrets.MONGO_DB}}
          ES_ADDON_PASSWORD: ${{secrets.ES_ADDON_PASSWORD}}
          ES_ADDON_URI: ${{secrets.ES_ADDON_URI}}
          ES_ADDON_USER: ${{secrets.ES_ADDON_USER}}
          LOG_SOURCE: ${{secrets.LOG_SOURCE}}
          KAKAO_JS_KEY: ${{secrets.KAKAO_JS_KEY}}
          KAKAO_CLIENT_ID: ${{secrets.KAKAO_CLIENT_ID}}
          KAKAO_CLIENT_SECRET: ${{secrets.KAKAO_CLIENT_SECRET}}
          KAKAO_GRANT_TYPE: ${{secrets.KAKAO_GRANT_TYPE}}
          KAKAO_REDIRECT_URI: ${{secrets.KAKAO_REDIRECT_URI}}
          MOCK_POSTS_PORT: ${{secrets.MOCK_POSTS_PORT}}
          MOCK_THREADS_PORT: ${{secrets.MOCK_THREADS_PORT}}
          MOCK_USERS_PORT: ${{secrets.MOCK_USERS_PORT}}

      - run: echo "HOST=$HOST" >>   .env.testpost
          echo "GATE_PORT=$GATE_PORT" >>   .env.testpost
          echo "DIS_PORT=$DIS_PORT" >>   .env.testpost
          echo "POSTS_PORT=$POSTS_PORT" >>   .env.testpost
          echo "ADMIN_PORT=$ADMIN_PORT" >>   .env.testpost
          echo "THREADS_PORT=$THREADS_PORT" >>   .env.testpost
          echo "USERS_MYSQL_USER_NAME=$USERS_MYSQL_USER_NAME" >>   .env.testpost
          echo "USERS_MYSQL_PASSWORD=$USERS_MYSQL_PASSWORD" >>   .env.testpost
          echo "USERS_MYSQL_HOST=$USERS_MYSQL_HOST" >>   .env.testpost
          echo "ADMIN_MYSQL_USER_NAME=$ADMIN_MYSQL_USER_NAME" >>   .env.testpost
          echo "ADMIN_MYSQL_PASSWORD=$ADMIN_MYSQL_PASSWORD" >>   .env.testpost
          echo "ADMIN_MYSQL_HOST=$ADMIN_MYSQL_HOST" >>   .env.testpost
          echo "THREADS_MYSQL_USER_NAME=$THREADS_MYSQL_USER_NAME" >>   .env.testpost
          echo "THREADS_MYSQL_PASSWORD=$THREADS_MYSQL_PASSWORD" >>   .env.testpost
          echo "THREADS_MYSQL_HOST=$THREADS_MYSQL_HOST" >>   .env.testpost
          echo "POSTS_MYSQL_USER_NAME=$POSTS_MYSQL_USER_NAME" >>   .env.testpost
          echo "POSTS_MYSQL_PASSWORD=$POSTS_MYSQL_PASSWORD" >>   .env.testpost
          echo "POSTS_MYSQL_HOST=$POSTS_MYSQL_HOST" >>   .env.testpost
          echo "JWT_SECRET_KEY=$JWT_SECRET_KEY" >>   .env.testpost
          echo "JWT_SECRET_KEY_REFRESH=$JWT_SECRET_KEY_REFRESH" >>   .env.testpost
          echo "JWT_EXPIRE_TIME=$JWT_EXPIRE_TIME" >>   .env.testpost
          echo "JWT_EXPIRE_TIME_REFRESH=$JWT_EXPIRE_TIME_REFRESH" >>   .env.testpost
          echo "REDIS_HOST=$REDIS_HOST" >>   .env.testpost
          echo "REDIS_PORT=$REDIS_PORT" >>   .env.testpost
          echo "REDIS_USERNAME=$REDIS_USERNAME" >>   .env.testpost
          echo "REDIS_PASSWORD=$REDIS_PASSWORD" >>   .env.testpost
          echo "NODEMAILER_EMAIL=$NODEMAILER_EMAIL" >>   .env.testpost
          echo "NODEMAILER_PASSWORD=$NODEMAILER_PASSWORD" >>   .env.testpost
          echo "DIRECTORY=$DIRECTORY" >>   .env.testpost
          echo "S3_AWS_ACCESS_KEY_ID=$S3_AWS_ACCESS_KEY_ID" >>   .env.testpost
          echo "S3_AWS_SECRET_ACCESS_KEY=$S3_AWS_SECRET_ACCESS_KEY" >>   .env.testpost
          echo "S3_AWS_REGION=$S3_AWS_REGION" >>    .env.testpost
          echo "S3_AWS_BUCKET_NAME=$S3_AWS_BUCKET_NAME" >>     .env.testpost
          echo "MONGO_DB=$MONGO_DB" >>   .env.testpost
          echo "ES_ADDON_PASSWORD=$ES_ADDON_PASSWORD" >> .env
          echo "ES_ADDON_URI=$ES_ADDON_URI" >> .env
          echo "ES_ADDON_USER=$ES_ADDON_USER" >> .env
          echo "LOG_SOURCE=$LOG_SOURCE" >> .env
          echo "KAKAO_JS_KEY=$KAKAO_JS_KEY" >> .env
          echo "KAKAO_CLIENT_ID=$KAKAO_CLIENT_ID" >> .env
          echo "KAKAO_CLIENT_SECRET=$KAKAO_CLIENT_SECRET" >> .env
          echo "KAKAO_GRANT_TYPE=$KAKAO_GRANT_TYPE" >> .env
          echo "KAKAO_REDIRECT_URI=$KAKAO_REDIRECT_URI" >> .env
          echo "MOCK_POSTS_PORT=$MOCK_POSTS_PORT" >> .env
          echo "MOCK_THREADS_PORT=$MOCK_THREADS_PORT" >> .env
          echo "MOCK_USERS_PORT=$MOCK_USERS_PORT" >> .env
          npm ci
          npm run test:posts
          npm run test:users
