.login-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#logo > svg {
  width: 50px;
  height: 30px;
}

#title > p {
  font-size: 15px;
}
#title > h1 {
  font-size: 20px;
}
