.CardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
  width: 812px;
  height: 290px;
}

.button-container {
  margin-bottom: 8px;
}

.button-container button {
  margin-left: 20px;
  width: 116px;
  height: 56px;
  min-width: 150px;
  border-radius: 999px;
  border: 1px solid #d2d2d2;
  color: #000;
  padding: 8px, 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: pointer;
}
.action-button1 {
  background-color: #000;
  color: #ffffff !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  align-items: center;
}

.no-posts-message {
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.write-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 54px;
  border-radius: 12px;
  padding: 12px, 24px;
  gap: 4px;
  background: #323232;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
