.card-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 610px;
}

.card-section > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-section button {
  margin: 0 5px;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}

.card-section button.active {
  background-color: #323232 !important;
  border: none;
  color: white;
}

#inner-my-page-post {
  cursor: pointer;
}
#bookmark-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#bookmark-buttons > button {
  margin-top: 10px;
  padding: 3px;
  font-size: 10px;
  width: 90px;
  height: 20px;
}
@media screen and (max-width: 1200px) {
  .card-section {
    margin-top: 10px;
    justify-content: center;
    width: 300px;
  }
  .card-section > div {
    justify-content: center;
  }
}
