.nicknamebox {
  justify-content: space-between;
  display: flex;
  height: 80px;
}

.myinfo_first {
  background-color: #ffffff;
  border-radius: 36px;
  border: 1px;
  width: 364px;
  height: 288px;
  padding: 32px;
  gap: 24px;
  margin-left: 30px;
  border: 1px solid #d2d2d2;
  align-items: center;
  justify-content: center;
}

.myinfo_nickname {
  width: 56px;
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #979797;
}

.nickname {
  outline: none;
  border-bottom: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  height: 50px;
}

.myinfo_edit {
  width: 38px;
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #427dee;
  background: none;
  inline-size: none;
  cursor: pointer;
}

.myinfo_edit:hover {
  color: #000;
}

.myinfo_mynickname {
  width: 300px;
  height: 72px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #323232;
}

.myinfo_sign {
  display: flex;
  width: 364px;
  height: 32px;
  justify-content: space-between;
}

.myinfo_signselect {
  width: 75px;
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #979797;
}

.myinfo_signmenu {
  width: 84.18px;
  height: 32px;
  padding: 8px, 16px;
  border-radius: 999px;
  gap: 4px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.myinfo_signout {
  text-align: center;
  margin-top: 65px;
  color: red;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.myinfo_admin {
  text-align: center;
  margin-top: 45px;
  color: green;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.myinfo_pwchange {
  text-align: center;
  margin-top: 45px;
  color: orange;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.myinfo_login {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #979797;
}

.myinfo_first img {
  width: 80px;
  height: 112px;
  margin-left: 140px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}

.modal h2 {
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #323232;
}

.modal-content {
  position: absolute;
  top: 25%;
  left: 25%;
  background: #fff;
  padding: 48px;
  border-radius: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #d2d2d2;
  width: 632px;
  height: 285px;
  gap: 24px;
}

.modal-content input {
  width: 580px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #d2d2d2;
  padding: 24px;
  gap: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #979797;
  margin-bottom: 12px;
  position: relative;
}

.editBtn {
  display: flex;
  justify-content: flex-end;
}

.editBtn p {
  height: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 60px;
  margin-top: 50px;
  cursor: pointer;
}

.characterCount {
  width: 625px;
  height: 25px;
  padding: 4px, 8px, 0px, 0px;
  gap: 4px;
  text-align: end;
}

.close {
  color: #ff6e4e;
}

#PWChange button {
  position: absolute;
  height: 24px;
  right: 65px;
  margin-top: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  border: none;
  background: none;
  color: #427dee;
  cursor: pointer;
}

.kakaoUser {
  background-color: #ffeb00;
  color: #000000;
}

.localUser {
  background-color: #323232;
}

#PWChange .editBtn {
  position: absolute;
  right: 50px;
  bottom: 5px;
}
@media screen and (max-width: 1320px) {
  .myinfo_first {
    width: 20rem !important;
    height: 18rem !important;
    margin-left: 0px !important;
  }

  .myinfo_sign {
    width: 20rem !important;
  }
}
